.start4 {
  position: fixed;
  position: absolute;
  top: 47.2%;
  left: 51.8%;
  cursor: pointer;
  border: 1px solid rgb(6, 253, 47);
  background-color: rgb(6, 253, 47);
  box-shadow: 1px 5px 5px 1px rgb(6, 253, 47);
}


.gaz4 {
  position: absolute;
  top: 65%;
  left: 38.3%;
  border: none;
  cursor: pointer;
}

.tormoz4 {
  position: absolute;
  top: 62.3%;
  left: 32.5%;
  cursor: pointer;
  border: none;
}

.container .gaz4,
.container .tormoz4 {
  background-color: white;
  box-shadow: 1px 5px 5px 1px white;
}

.start4:hover,
.container .gaz4:hover,
.container .tormoz4:hover {
  background-color: rgb(253, 76, 6);
  box-shadow: 1px 5px 5px 1px rgb(253, 43, 6);
}
