.start3 {
  position: fixed;
  position: absolute;
  top: 58.5%;
  left: 48.9%;
  cursor: pointer;
  border: 1px solid rgb(6, 253, 47);
  background-color: rgb(6, 253, 47);
  box-shadow: 1px 5px 5px 1px rgb(6, 253, 47);
}


.gaz3 {
  position: absolute;
  top: 70%;
  left: 36%;
  border: none;
  cursor: pointer;
}

.tormoz3 {
  position: absolute;
  top: 63%;
  left: 29%;
  cursor: pointer;
  border: none;
}

.container .gaz3,
.container .tormoz3 {
  background-color: white;
  box-shadow: 1px 5px 5px 1px white;
}

.start3:hover,
.container .gaz3:hover,
.container .tormoz3:hover {
  background-color: rgb(253, 76, 6);
  box-shadow: 1px 5px 5px 1px rgb(253, 43, 6);
}

